body {
    background-color: white;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.parent {
    display: flex;
    flex-wrap: wrap;

}
.card {
    justify-content: left;
    align-items: flex-start;
    flex-direction: row;
    width: 300px;
    float: left;
    border: 2px solid seagreen;
    border-radius: 5px;
    box-shadow: 3px 3px lightblue;
    margin: 20px;
    
}

h1 {
    text-align: center;
    margin: 5px;
    padding: 10px;
}

h2 {
    text-align: center;
    margin: 5px;
    padding: 10px;
    border: 1px lightblue;
    }

h3 {
    text-align: center;
    margin: 5px;
    padding: 10px;
    color: yellow;
    background-color: gray;
    }

h4 {
   text-align: center;
   margin: 0;
    padding: 10px;
    border: 1px;
        }

h5 {
    text-align: center;
    margin: 0;
    padding: 10px;
    border: 1px;
}
p {
    margin: 3px;
    padding: 3px;
    border: 1px;
}